/****** GENERAL ******/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100%;
}

main{
    height: 100vh;
    position:relative;
}


/****** MODAL ******/

.modal, .modal_main{
    position:fixed;
    background-color: #ffffff;
    border: outset 2px #00315A;
    border-radius:4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    z-index: 1100;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.modal{
    width: 650px;
}

.modal_main{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D7EEFF;
}

.modal_background{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    z-index: 1000;
    pointer-events: all;
}


/****** BUTTONS ******/

.primary_btn{
    border-radius: 4px;
    padding: 0.5rem 2rem;
}

.secondary_btn{
    border-radius:4px;
    border-color: #00315A;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.1rem 2rem;
    gap: 0.5rem;
}

.logout_btn{
    background-color: red;
    border:outset 2px;
    color:#000000;
    border-color:red;
    border-radius: 4px;
}

.login_btn{
    background-color: #1D8E90;
    color:#ffffff;
    border:outset 2px;
    border-radius: 4px;
}

.close_btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
    padding:0;
}

.open_btn{
    background-color: #1D8E90;
    color:#ffffff;
}

.new_customer_btn{
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
}


/******* HEADER ******/
header{
    border-bottom: solid 2px;
    border-color: #00315A;
    padding:0.5rem;
}

.login_form{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 2rem;
    gap: 2rem;
}


.profil_field{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_login{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 2rem;
}


/****** NAVBAR ******/

.navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    margin-right: 2rem;
}


/****** PROFIL ******/

.edit_profil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.profil_img img{
    width:200px;
    height: auto;
}

.profil_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: flex-end;
}

.edit_profil_txt, .edit_sale_txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.7rem;
}

#form_new_sale{
    margin-top: 1rem;
}

.edit_sale{
    display: flex;
    flex-direction: column;
    gap:1rem;

}
.profil_name{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.profil_field{
    border-radius:4px;
    border-color: #00315A;
    background-color: #ffffff;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 0rem 2rem;
}

.profil_field img{
    width:50px;
    height:auto;
}

#form_profil .secondary_btn, #edit_profil .secondary_btn, .button_profil{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.1rem 1rem;
}

.label_photo_user{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

/****** FORM ******/

.form_filter, .form_ticket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}

.form_filter{
    align-items: flex-end;
    margin-bottom: 1rem;  
}

.form_ticket{
    align-items: flex-start;
}

.form-ticket .open_btn{
    align-self: flex-end;
}

.select_filter{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.frag_purchase, .list_filtered{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.element_list_filtered{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:1rem;
    border: outset 2px #00315A;
    border-radius: 4px;
    padding: 1rem 0;
}

#products_filtered{
    max-height: 400px;
    overflow-y: auto;
}

.hidden {
    display: none;
}